<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Player Statistics</h1>
    </header>

    <section>
        <h2>Select the Statistic and Table to Calculate</h2>
        <form action="{{ url_for('player_stats') }}" method="POST">
            <label for="table">Choose a table:</label>
            <select name="table" id="table" required>
                <option value="player_expected_goals" {% if selected_table == 'player_expected_goals' %}selected{% endif %}>Expected Goals</option>
                <option value="player_ratings" {% if selected_table == 'player_ratings' %}selected{% endif %}>Player Ratings</option>
                <option value="player_tackles_won" {% if selected_table == 'player_tackles_won' %}selected{% endif %}>Tackles Won</option>
                <option value="player_top_scorers" {% if selected_table == 'player_top_scorers' %}selected{% endif %}>Top Scorers</option>
            </select>

            <label for="stat">Choose a statistic:</label>
            <select name="stat" id="stat" required>
                <option value="mean" {% if selected_stat == 'mean' %}selected{% endif %}>Mean</option>
                <option value="min" {% if selected_stat == 'min' %}selected{% endif %}>Min</option>
                <option value="max" {% if selected_stat == 'max' %}selected{% endif %}>Max</option>
                <option value="median" {% if selected_stat == 'median' %}selected{% endif %}>Median</option>
                <option value="std_dev" {% if selected_stat == 'std_dev' %}selected{% endif %}>Standard Deviation</option>
            </select>

            <button type="submit">Calculate</button>
        </form>

        {% if result %}
        <h3>Results for {{ selected_stat.capitalize() }}:</h3>
        <ul>
            {% for field, value in result.items() %}
                <li><strong>{{ field }}:</strong> {{ value }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if plot_urls['stat_plot'] %}
        <h3>Visualization of the Key Metric:</h3>
        <img src="{{ plot_urls['stat_plot'] }}" alt="Player Stats Plot" style="width: 80%; height: auto;" class="center">
        {% endif %}

        {% if plot_urls['scatter_plot'] %}
        <h3>Scatter Plot: Minutes Played vs Goals Scored</h3>
        <img src="{{ plot_urls['scatter_plot'] }}" alt="Scatter Plot" style="width: 80%; height: auto;" class="center">
        {% endif %}
    </section>

    <br>
    <form action="{{ url_for('index') }}" method="GET">
        <button type="submit">Back to Home</button>
    </form>
</body>
</html>
